rasa==3.5.10
rasa-sdk==3.5.1
tensorflow==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
scipy==1.8.1
keras==2.11.0
SQLAlchemy==1.4.52
pydantic==1.7.4
protobuf==3.19.6
spacy==3.3.1
aiogram==2.15
boto3==1.37.19
pymongo==3.10.1
rocketchat_API==1.28.1
fbmessenger==6.0.0
aiohttp==3.8.6
cloudpickle==2.2.1
confluent-kafka==1.9.2
joblib==1.2.0
urllib3==1.26.18
cryptography==41.0.3
kiwisolver==1.4.5
requests==2.32.3
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
numpy==1.23.5
packaging==20.9
typing_extensions==4.12.2
PyYAML==6.0.2
ruamel.yaml==0.17.21
regex==2022.10.31
django_celery_beat==2.8.0
celery==5.2.7
django==4.2.13
django-filter==23.5
django-cors-headers==4.3.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-anymail==10.3
drf-yasg==1.20.0